<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Little Einsteins | Management</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('../include/nav.ejs') %> 
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('../include/sidenav.ejs') %> 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/children">Children</a></li>
              <li class="breadcrumb-item active"><%= child.name %> </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">

                <h3 class="profile-username text-center"><%= child.name %></h3>
                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Age</b> <a class="float-right"><%= child.age %></a>
                  </li>
                  <li class="list-group-item">
                    <b>Class</b> <a class="float-right"><%= child.class.name %></a>
                  </li>
                  <li class="list-group-item">
                    <b>Parent Name</b> <a class="float-right"><%= child.parentName %></a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-calendar-week"></i> Date of Birth</strong>

                <p class="text-muted"><%= child.dateOfBirth %> </p>

                <hr>

                <strong><i class="fas fa-user"></i> Parent Name</strong>

                <p class="text-muted">
                  <%= child.parentName %>
                </p>

                <hr>

                <strong><i class="fas fa-phone"></i></i> Parent Contact</strong>

                <p class="text-muted"><%= child.parentNumber %> | <%= child.parentEmail %></p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>

                <p class="text-muted"><%= child.address %></p>

                <% if(child.notes) { %> 
                  <hr>

                  <strong><i class="fas fa-book"></i></i> Notes</strong>

                  <p class="text-muted"><%= child.notes %></p>
                <% } %> 

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <form class="form-horizontal" action="/updatechild" method="post">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                      <input type="text" name="id" class="form-control" id="inputName" value="<%= child.id %>" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" id="inputName" value="<%= child.name %>" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDOB" class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10">
                      <input type="date" name="dateOfBirth" class="form-control" id="inputDOB" value="<%= child.dateOfBirth %>">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputClass" class="col-sm-2 col-form-label">Class</label>
                    <div class="col-sm-10">
                      <select name="class" class="form-control" id="inputClass" value="<%= child.class.name %>">
                        <% for(var i = 0; i < classes.length; i++) { %> 
                          <% if(child.class.id == classes[i].id) { %>
                            <option class="item" data-value="<%= classes[i].id %> " selected><%= classes[i].name %></option>
                          <% } else { %>
                            <option class="item" data-value="<%= classes[i].id %> "><%= classes[i].name %></option>
                          <% } %> 
                        <% } %> 
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPName" class="col-sm-2 col-form-label">Parent Name</label>
                    <div class="col-sm-10">
                      <input name="parentName" type="text" class="form-control" id="inputPName" value="<%= child.parentName %> ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPNumber" class="col-sm-2 col-form-label">Parent Number</label>
                    <div class="col-sm-10">
                      <input name="parentNumber" type="text" class="form-control" id="inputPNumber" value="<%= child.parentNumber %> ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPEmail" class="col-sm-2 col-form-label">Parent Email</label>
                    <div class="col-sm-10">
                      <input name="parentEmail" type="text" class="form-control" id="inputPNumber" value="<%= child.parentEmail %> ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input name="address" type="text" class="form-control" id="inputAddress" value="<%= child.address %> ">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputNotes" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea name="notes" class="form-control" id="inputNotes" rows="4"><%= child.notes %></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </div>
                </form>
                <a href="/admin/deleteChild/<%= child.id %> "><button class="btn btn-danger">Delete</button></a>
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../include/footer.ejs') %> 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
</body>
</html>
