<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Little Einsteins | Management</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('../include/nav.ejs') %> 
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('../include/sidenav.ejs') %> 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
			<form action="/records/updateAttendance" method="post">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>View Attendance Record</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/admin">Home</a></li>
								<li class="breadcrumb-item"><a href="/admin/class/<%= classes[record.class.id].id %>"><%= classes[record.class.id].name %></a></li>
								<li class="breadcrumb-item"><a href="/admin/classAttendance/<%= record.class.id %> ">Class Attendance</a></li>
								<li class="breadcrumb-item active">Attendance Record</li>
							</ol>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-6">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">General</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="inputID">ID</label>
									<input type="text" name="id" class="form-control" id="inputID" value="<%= record.id %>" readonly>
								</div>
								<div class="form-group">
									<label for="inputChild">Child</label>
									<input type="text" name="child" class="form-control" id="inputChild" value="<%= record.child.name %>" readonly>
								</div>
								<div class="form-group">
									<label for="inputClass">Class</label>
									<input type="text" name="class" class="form-control" id="inputClass" value="<%= record.class.name %>" readonly>
								</div>
								<div class="form-group">
									<label for="inputStaff">Date</label>
									<input type="date" name="date" class="form-control" id="inputName" value="<%= date %>" readonly>
								</div>
								<div class="form-group">
									<label for="inputPresent">Present</label>
									<% if (record.present) { %>
										<input name="present" id="inputPresent" class="form-control" type="checkbox" checked required>
									<% } else { %>
										<input name="present" id="inputPresent" class="form-control" type="checkbox" required>
									<% } %>
								</div>
								<div class="form-group">
									<label for="inputSignIn">Sign-in Time</label>
									<input name="signIn" type="time" id="inputSignIn" class="form-control" value="<%= record.signInTime ? moment(record.signInTime).format("HH:mm") : "" %>">
								</div>
								<div class="form-group">
									<label for="inputSignOut">Sign-out Time</label>
									<input name="signOut" type="time" id="inputSignOut" class="form-control" value="<%= record.signOutTime ? moment(record.signOutTime).format("HH:mm") : "" %>">
								</div>
								<div class="form-group">
									<label for="inputStaff">Staff Member</label>
									<input type="text" name="staffMember" class="form-control" id="inputName" value="<%= record.staffMember.name %>" readonly>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<div class="col-md-6">
						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">Daily Notes</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<textarea name="dailyNotes" class="form-control" id="inputNotes" rows="4"><%= record.dailyNotes %> </textarea>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<a href="/admin/classAttendance/<%= record.class.id %> " class="btn btn-secondary" style="margin: 20px;">Return</a>
						<button type="submit" class="btn btn-success float-right" style="margin: 20px;">Update Record</button>
					</div>
				</div>
			</form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../include/footer.ejs') %> 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js"></script>
</body>
</html>
